SERVER_HOST=0.0.0.0
SERVER_PORT=8080

DB_HOST=10.1.40.51
DB_PORT=3306
DB_NAME=sondedb
DB_USER=lucas
DB_PASSWORD=lucas

API_TOKEN=e23a2ffc3daafc579d5e828cf57cd5506a843d8bf1ca4e10c94f86c8148ba7f9

DASHBOARD_MEASURES_LIMIT=250
DASHBOARD_ALERTS_LIMIT=100
DASHBOARD_RESEAUX_LIMIT=100
DASHBOARD_INTERVENTIONS_LIMIT=50
