SERVER_HOST=0.0.0.0
SERVER_PORT=8080

DB_HOST=10.1.40.51
DB_PORT=3306
DB_NAME=sondedb
DB_USER=sondedb
DB_PASSWORD=change_me

API_TOKEN=change_me

DASHBOARD_MEASURES_LIMIT=250
DASHBOARD_ALERTS_LIMIT=100
DASHBOARD_RESEAUX_LIMIT=100
DASHBOARD_INTERVENTIONS_LIMIT=50
